.content {
    display: none;
}

.show-content{
    display: block;
}

.tabs-container {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Align tabs to the right */
    margin-right: 20px; /* Add some margin from the right edge */
  }
  
  .tabs {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    margin-left: 10px; /* Add some spacing between tabs */
    border-radius: 5px;
  }
  
  .tabs:hover {
    background-color: #e0e0e0;
  }

.bold {
  border: 1px solid black;
  background-color: cadetblue;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Optional: If you want to center vertically too */
}



.styled-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.styled-table th,
.styled-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.styled-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.styled-table tbody tr:hover {
  background-color: #f5f5f5;
}
